* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    font-size: 18px;
}

header {
    position: relative;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
}

.hero-img-1 {
    background-image: url(./assets/img-1.jpg);
}

.hero-img-2 {
    background-image: url(./assets/img-2.jpg);
}

.hero-body{
    width: 100%;
    color: #FFF;
    position: absolute;
    bottom: 140px;
    text-align: center;
    font-family: 'roboto';
}

.hero-title {
	font-family: 'Modern Antiqua';
	font-size: 50px;
	margin-bottom: 12px;
}

.hero-date {
	font-size: 28px;
	font-style: initial;
	margin-top: -10px;
    margin-bottom: 4px;
}

.hero-guest {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 26px;
}

.button-open {
    background-color: #7a7171;
    color: #FFF;
    border: 0;
    text-transform: uppercase;
    width: max-content;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 32px;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.section-1 {
    padding: 50px 0 70px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col>h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    color: #000000;
}

.col>p {
    text-align: center;
}

.bride-photo {
    position: relative;
    margin: 50px;
}

.bride-photo>img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
} 

.bride-name {
    font-size: 28px;
}

.bride-detail {
    margin-top: -15px;
    margin-bottom: 10px;
}

.bride-parent {
    font-weight: bold;
}

.bride-address {
    margin-top: 12px;
}

/* 
    Section 2
*/
.section-2 {
    padding: 5rem .85rem;
    background-color: #eaeaea;
}

.prayer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;    
}

/* 
    Section 3
*/
.section-3 {
    padding: 5rem .85rem;
}

.time-and-place .time,
.time-and-place .place {
    text-align: center;
}

.countdown-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-list .countdown-box {
    text-align: center;
    padding: 1.2rem 1rem;
    border-radius: 5px;
    color: #fff;
    background-color: #7a7171;
    margin-left: 1rem;
    min-width: 65px;
}

.countdown-list .countdown-box:first-child {
    margin-left: 0;
}

.countdown-list .countdown-box .countdown-value {
    font-size: 1.4rem;
    font-weight: 500;
}

.countdown-list .countdown-box .countdown-unit {
    font-size: .8rem;
}

/* 
    Section 4
*/ 

.section-4 {
    padding: 5rem .85rem;
    background-color: #eaeaea;
}

.image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-list .image {
    max-width: 350px;
    cursor: pointer;
}

.image-list .image img {
    width: 100%; 
    object-fit: cover;
}

.image-preview {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    padding: 4rem 1rem;
    pointer-events: none;
    transition: .2s;
}

.image-preview.show {
    pointer-events: all;
}

.image-preview .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: -1;
    opacity: 0;
    transition: .2s;
}

.image-preview.show .overlay {
    opacity: 1;
}

.image-preview .image-prev,
.image-preview .image-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: .2s;
}

.image-preview.show .image-prev,
.image-preview.show .image-next {
    opacity: 1;
}

.image-preview .image-prev {
    left: 35px;
}

.image-preview .image-next {
    right: 35px;
}

.image-preview .image {
    position: relative;
    max-width: 1200px;
    margin: auto;
    opacity: 0;
    transform: translateY(-30%);
    transition: .2s;
}

.image-preview.show .image {
    opacity: 1;
    transform: translateY(0);
}

.image-preview .image .close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    display: block;
    font-size: 2rem;
    color: #FFF;
    user-select: none;
    cursor: pointer;
}

.image-preview .image img {
    width: 100%;
}

.our-story video {
    width: 100%;
    min-height: 250px;
}

.section-5 {
    padding: 5rem .85rem;
}

.section-6 {
    padding: 70px 0;
    position: relative;
}

.scroll {
    max-height: 400px;
    padding: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
}

.pray-detail {
    margin-bottom: 24px;
}

.pray-text {
    margin: 10px 10px 0;
    background: #6b7d69;
    color: #FFF;
    padding: 20px 24px;
    position: relative;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    font-style: italic;
}

.pray-text::before, .pray-text::after {
    content: "\201C";
	position: absolute;
	font-size: 20px;
	padding: 10px;
	line-height: 1;
	color: #fff;
}

.pray-text::before {
    top: 0;
    left: 4px;
}

.pray-text::after {
    content: "\201D";
    right: 4px;
    bottom: -.5em;
}

.pray-quote {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 14px solid #6b7d69;
    margin: 0 0 0 40px;
    margin-bottom: 2px;
}

.pray-sender {
    padding-left: 18px;
    font-weight: 600;
    margin-top: -4px;
    font-size: 17px;
}

.attend-status {
    font-size: 14px;
    margin-top: -6px;
    font-style: italic;
}

.section-8 {
    padding: 30px 0;
}

.health-protocol {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.health-protocol-header {
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.health-protocol-item {
    width: 33.3%;
    text-align: center;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.health-protocol-item>img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    max-width: 100%;
}

.health-protocol-item>p {
    font-size: 14px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer>h2 {
    margin-bottom: 40px;
}

.footer-social {
    list-style: none;
}

.footer-social>li {
    display: inline-block;
    margin: 0 5px;
}
